/* Режим смартфона (Вертикальный) */
@media (max-aspect-ratio: 1) or (max-width: 720px) {
    #toosmall { display: none; }
    #background, #scenery {width: 100% !important;}
    #scenery-home, #scenery-income {height: 100vh; min-height: 150vw; max-height: clamp(70vh, 150vw, 100vh);}

    .panel_bottom {width: 70% !important;}
    #daily-desc {display: block !important; text-align: center !important;}

    #button-ad {bottom: 65vw !important; font-size: medium !important;}
    #advertise-container {top: 12vw;}
    #advertise-container.ad-container-opened {top: -17vh !important;}
}

/* Режим тачпада (Малый горизонтальный) */
@media (min-aspect-ratio: 1) and (max-aspect-ratio: 1.4) and (min-width: 720px) {
    #toosmall { display: none; }
    #background, #scenery {width: 70% !important;}
    #scenery-home, #scenery-income {height: 130vh; min-height: clamp(100vh, 150vw, 130vh);}

    .panel_bottom {width: 49% !important;}
    #daily-desc {display: flex !important;}

    #button-ad {bottom: 45vw !important;}
    #advertise-container {top: 10vw;}
    #advertise-container.ad-container-opened {top: -17vh !important;}
}

/* Режим  ПК (Широкий горизонтальный) */
@media (min-aspect-ratio: 1.4) and (min-width: 720px) {
    #toosmall { display: none; }
    #background, #scenery {width: 50% !important;}
    #scenery-home, #scenery-income {height: 150vh; min-height: clamp(100vh, 150vw, 130vh);}

    .panel_bottom {width: 35% !important;}
    #daily-desc {display: flex !important;}

    #button-ad {bottom: 30vw !important;}
    #advertise-container {top: 8vw;}
    #advertise-container.ad-container-opened {top: -17vh !important;}
}

/* Режим слишком маленького окна */
@media (max-width: 330px) or (max-height: 280px) {
    #main { display: none !important; }
    @media (max-width: 330px) and (min-height: 280px ) {#toosmall{display: block !important;}}
    @media (min-width: 330px) and (max-height: 280px) {#toosmall{display: flex !important;}}
    #toosmall { 
        justify-content: center;
        align-items: center;
        padding: 5%;
    }
    #load { display: none !important; }
}

/* Загрузка страницы */
#load {
    position: fixed;
    top:0; right:0; bottom:0; left:0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #171717;
    z-index: 999999;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    box-sizing: border-box;
}
#load img {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
    opacity: 0;
    transition: opacity 0.5s ease;
}
#load-message {
    color: #CACACA;
    font-family: 'StarfallVAGRounded-Regular';
    font-size: large;
    max-width: 60%;
    line-height: 1.2;
    opacity: 1;
    transition: opacity 0.5s ease;
}
#load.hidden {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
}