/* Режим смартфона (Вертикальный) */
@media (max-aspect-ratio: 1) or (max-width: 720px) {
    #toosmall { display: none; }
    #background, #bg-container {
        width: 100%;
        background-size: 100%;
        top: 27vh;
        transition: top 1s ease, width 1s ease, background-size 1s ease;  
    }
    #button-ad {margin-top: 0vh !important; transition: margin-top 1s ease;}
    #advertise-container {top: 12vw; transition: top 1s ease;}
    #advertise-container.ad-container-opened {top: -30vh !important; transition: top 1s ease;}
}

/* Режим тачпада (Малый горизонтальный) */
@media (min-aspect-ratio: 1) and (max-aspect-ratio: 1.4) and (min-width: 720px) {
    #toosmall { display: none; }
    #background, #bg-container {
        width: 70%;
        background-size: 70%;
        top: 20vh;
        transition: top 1s ease, width 1s ease, background-size 1s ease; 
    }
    #button-ad {margin-top: 6vh !important; transition: margin-top 1s ease;}
    #advertise-container {top: 10vw; transition: top 1s ease;}
    #advertise-container.ad-container-opened {top: -30vh !important; transition: top 1s ease;}
}

/* Режим  ПК (Широкий горизонтальный) */
@media (min-aspect-ratio: 1.4) and (min-width: 720px) {
    #toosmall { display: none; }
    #background, #bg-container {
        width: 50%;
        background-size: 50%;
        top: 15vh;
        transition: top 1s ease, width 1s ease, background-size 1s ease; 
    }
    #button-ad {margin-top: 12vh !important; transition: margin-top 1s ease;}
    #advertise-container {top: 8vw; transition: top 1s ease;}
    #advertise-container.ad-container-opened {top: -30vh !important; transition: top 1s ease;}
}

/* Режим слишком маленького окна */
@media (max-width: 280px) or (max-height: 280px) {
    #main { display: none !important; }
    @media (max-width: 280px) and (min-height: 280px ) {#toosmall{display: block !important;}}
    @media (min-width: 280px) and (max-height: 280px) {#toosmall{display: flex !important;}}
    #toosmall { 
        justify-content: center;
        align-items: center;
        padding: 5%;
    }
    #load { display: none !important; }
}