#site {
    z-index: 1;
    width: 80%;
    height: auto;
    margin: 20px;
    padding: 25px; padding-right: 50px;
    position: absolute;
    top: 0; left: 50%;
    transform: translateX(-50%);
    align-items: left;
    justify-content: left;
    border-radius: 30px;
    background-color: #111;
    /* background-image: url('../images/site_background.png'); */
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}
#site-container {
    z-index: 2;
    display: block;
    position: static;
    align-items: center;
    justify-content: center;
    width: 70%;
    height: 80%;
    margin: 0;
    padding: 25px;
    border-radius: 20px;
    background-color: rgba(10, 10, 10, 0.25);
    backdrop-filter: blur(5px);
    text-align: center;
}
#site-footer {
    width: 70%;
    height: auto;
    margin: 0;
    margin-top: 15px;
    padding: 10px;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    color: #D5D5D5;
    text-align: center;
    font-family: 'FindSansPro-Light';
    font-size: medium;
}