/* ========================================= Интерфейс окна приложения ========================================= */
html { width: 100%; margin: 0; padding: 0; }
body { z-index: 1; position: relative; display: block; align-items: center; justify-content: center; background-color: #171717; width: 100%; margin: 0; padding: 0; }
#daily { z-index: 2; transform: translateX(0); text-align: left; } #profile { z-index: 2; transform: translateX(0); text-align: right; }

/* ✓ Элементы страниц scenery */
#background { z-index: 4; position: fixed; top: 0; left: 50%; transform: translateX(-50%); opacity: 1; visibility: visible; height: 100vh; width: 100%; margin: 0; padding: 0; background-size: 100%; background-image: url('../images/decorations/background.png'); background-repeat: no-repeat; background-position: top; background-attachment: fixed; transition: width 1s ease, background-size 1s ease, opacity 0.5s ease; }
#scenery { z-index: 5; position: absolute; top: 0; left: 50%; transform: translateX(-50%); display: block; align-items: center; justify-content: center; margin: 0; padding: 0; transition: top 1s ease, width 1s ease, opacity 0.5s ease; }
.scenery-element { position: relative; display: block; align-items: center; justify-content: center; width: 100%; padding: 0; margin: 0; }
.scenery-element > div { position: absolute; left: 50%; transform: translateX(-50%); width: 100%; padding: 0; margin: 0; transition: width 1s ease; }
.scenery-element div img, .scenery-postlayer img { width: 100%; padding: 0; margin: 0;}

/* ✓ Кнопки открытия информационных окон */
.scenery-button { z-index: 999; position: absolute; border: 0; cursor: pointer; opacity: 0.1; border-radius: 20px; transition: opacity 0.5s ease;}
.scenery-button:hover { cursor: pointer; opacity: 0.3; transition: opacity 0.25s ease; }
.scenery-button:active { opacity: 0.2; transition: opacity 0.5s ease; }
#scenery-stars-button { bottom: 35%; left: 22%; width: 22%; height: 22%; }
#scenery-home-button { bottom: 18%; right: 8%; width: 22%; height: 14%; }
#scenery-income-button { bottom: 36%; left: 41%; width: 22%; height: 33%; }

/* Изображение Ники на страницах scenery */
.scenery-nika { position: absolute; padding: 0; margin: 0;}
#scenery-stars-nika.stated { z-index: 22; width: 29.5% !important; bottom: 18.5%; right: 6%; left: auto; transform: translateX(0);}
#scenery-stars-nika.animated { z-index: 22; width: 35% !important; bottom: 20%; right: 0; left: auto; transform: translateX(0); }
#scenery-home-nika.stated { z-index: 21; width: 30% !important; bottom: 17%; left: 6%; right: auto; transform: translateX(0);}
/*#scenery-income-nika { z-index: 20; }*/

/* ✓ Элементы параллакса */
#scenery-stars-parallax { z-index: 7; bottom: 0; pointer-events: none; }
#scenery-home-parallax  { z-index: 6; bottom: 0; pointer-events: none; }

/* ✓ Элементы среднего уровня параллакса*/
#scenery-stars-scenery { z-index: 13; bottom: 0;}
#scenery-home-prelayer { z-index: 8; top: 0;}
#scenery-home-scenery { z-index: 12; bottom: 0;}
#scenery-income-scenery { z-index: 11; bottom: 0;}
#scenery-footer { z-index: 10; width: 100% !important; height: 100% !important; margin: -5px 0; padding: 0;}
#scenery-footer img { width: 100% !important; height: 100% !important; margin: 0; padding: 0;}

/* ✓ Элементы postlayer параллакса */
.scenery-postlayer { position: relative; width: 100%; margin: 0 0; padding: 0; pointer-events: none; }
.scenery-postlayer img { position: absolute; width: 100%; margin: 0; padding: 0; top: -33% !important; transform: translateY(-32%) !important; pointer-events: none; }
#scenery-stars-postlayer { z-index: 100; pointer-events: none; }
#scenery-home-postlayer { z-index: 101; pointer-events: none; }


/* ========================================= Кнопки, переключатели, шкалы ========================================= */
/* ✓ Кнопки просмотра рекламы (#scenery-stars и #daily)*/
#scenery-button-ad, #daily-button-ad { z-index: 998; max-width: 250px; padding: 10px 20px; margin: 0; color: #2e0606; text-align: center; font-family: 'FindSansPro-Regular'; font-size: large; border: 0; border-radius: 25px; background-size: 150% auto; background-position: left center; background-image: linear-gradient(to right, #eb9b23 0%, #e5c319 50%, #eea928 100%); box-shadow: 0 5px 15px 0 rgba(246, 152, 11, 0.7); transition: background-position 0.5s ease, box-shadow 0.5s ease, padding 0.5s ease, top 1s ease; }
#scenery-button-ad { position: absolute; left: 50%; top: 7%; transform: translateX(-50%); min-width: 45%;}
#daily-button-ad { position: static; min-width: 70%;}
#scenery-button-ad:hover, #daily-button-ad:hover { background-position: right center; box-shadow: 0 5px 40px 0 rgba(246, 136, 11, 0.7); transition: background-position 0.5s ease, box-shadow 0.5s ease, padding 0.5s ease, top 1s ease; padding: 12px 20px; cursor: pointer; }
#scenery-button-ad:active, #daily-button-ad:active { background-position: left center; padding: 6px 20px; transition: background-position 0.5s ease, padding 0.5s ease, top 1s ease; }

/* ✓ Режим отключенной кнопки просмотра рекламы */
#scenery-button-ad.disabled, #daily-button-ad.disabled { color: #333; background-image: linear-gradient(to right, #e2e2e2 0%, #A5A5A5 50%, #cfcfcf 100%) !important; box-shadow: 0 5px 15px 0 rgba(102, 102, 102, 0.7) !important; }
#scenery-button-ad.disabled:hover, #daily-button-ad.disabled:hover { box-shadow: 0 5px 40px 0 rgba(102, 102, 102, 0.7) !important; }

/* ✓ Режим кнопки просмотра рекламы при заполненной шкале генератора звездопада */
#scenery-button-ad.starfall { color: #e2e2e2 !important; background-image: linear-gradient(to right, #803bc0 0%, #de19e5 50%, #1a25c4 100%) !important; box-shadow: 0 5px 15px 0 rgba(113, 32, 189, 0.7) !important; }
#scenery-button-ad.starfall:hover { box-shadow: 0 5px 40px 0 rgba(189, 57, 250, 1) !important; }







/* Шкалы (Топливо и заряд генератора) */
.bar { overflow: hidden; position: relative; display: inline-block; vertical-align: bottom; margin: 10px auto; min-width: 50px; width: 40%; height: 25vh; border-radius: 100px; background-color:rgba(0, 0, 0, 0.5); box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.5); }
.bar .label { position: absolute; left: 50%; top: 8px; transform: translateX(-50%); color: #CACACA; font-family: 'StarfallVAGRounded-Regular'; font-size: medium; text-shadow: 0 0 10px rgba(0, 0, 0, 0.9); pointer-events: none; white-space: nowrap; }
.bar .fill { position: absolute; left: 0; bottom: 0; width: 100%; height: 0; transition: height 0.5s ease; }
#stars-bar-charge.fill { background: linear-gradient(0deg, #b1277c 0%, #6948c4 50%, #59a1ff 100%); }
#stars-bar-fuel.fill { background: linear-gradient(0deg, #b12727 0%, #e0904e 50%, #cbce34 100%); }

/* Единый стиль переключателей */
input[type=checkbox]{

}
input[type=radio]{

}

/* ========================================= Информационные окна ========================================= */
.scenery-container { z-index: 200; display: block; opacity: 0; visibility: hidden; bottom: 50%; transform: translate(-50%, 50%) !important; width: 70% !important; height: 65vh; min-height: 400px; max-height: 150vw; padding: 10px 20px !important; margin: 0; text-align: center; border-radius: 30px; background-color: rgba(17, 17, 17, 0.5); backdrop-filter: blur(5px); box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); transition: opacity 0.5s ease, visibility 0.5s ease; }
.scenery-container hr { background-color: #FFF; opacity: 0.25; height: 1px; width: 90%; box-shadow: 0 0 10px rgba(0, 0, 0, 1); }
.scenery-container > div { display: flex; flex-direction: column; position: absolute; bottom: 70px; left: 50%; transform: translateX(-50%); width: 90%; height: 85%; padding: 0; margin: 0; }
.scenery-container-inset { border-radius: 15px; flex-grow: 1; position: relative !important; overflow-y: scroll; overflow-x: hidden; align-items: center; justify-content: center; }
.scenery-container-inset::-webkit-scrollbar { width: 5px; }
.scenery-container-inset::-webkit-scrollbar-track { opacity: 0; }
.scenery-container-inset::-webkit-scrollbar-thumb { box-shadow: 0 0 10px rgba(255, 255, 255 0.3); background-color: rgba(220, 220, 220, 0.75); border-radius: 20px;}
.scenery-container::-webkit-scrollbar { display: none; }
.scenery-container h1 { font-size: 30px; }

/* Scenery stars container*/
#scenery-container-inset-stars { display: flex; overflow: unset !important;}
.scenery-stars-container-side { position: static; width: 50%; max-width: 150px; margin: 0 10px; padding: 5px;}
#stars-bar-fuel, #stars-bar-charge { font-size: large; margin: 0; margin-top: 5px; }

/* Scenery home container */
#scenery-container-inset-home { padding-right: 50px; }
.home-button { background-color: rgba(0, 0, 0, 0.5); box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); display: flex; border: 0; border-radius: 40px; width: 100%; min-height: 80px; margin: 0; margin-bottom: 20px; padding: 10px; text-align: left;}
.home-button img { width: 80px !important; height: 80px !important; filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5)); margin: 0 15px !important; border-radius: 15px;}
.home-button div { display: block !important; width: 70% !important; }

/* Scenery income container */
#scenery-income-container-main div { overflow: unset !important;}
.income-button { position: relative; display: flex; justify-content: center; align-items: center; width: 100%; height: 40%; margin: 0; margin-bottom: 15px; padding: 10px; background-size: 200% auto; box-shadow: 0 0 15px rgba(0, 0, 0, 0.8); background-position: right center; background-image: linear-gradient(to left, rgba(0, 0, 0, 0.4) 0%, rgba(30, 30, 30, 0.4) 25%, rgba(0, 0, 0, 0.5) 50%, rgba(125, 125, 125, 0.5) 75%, rgba(30, 30, 30, 0.3) 100%); border: 0; border-radius: 40px; transition: background-image 0.5s ease, background-position 0.5s ease, box-shadow 0.5s ease; }
.income-button:hover { box-shadow: 0 0 15px rgba(40, 40, 40, 0.8); background-position: center center; transition: background-position 0.5s ease, box-shadow 0.5s ease; }
.income-button:active { box-shadow: inset 0 0 15px rgba(65, 65, 65, 0.8); box-shadow: 0 0 15px rgba(80, 80, 80, 0.8); background-position: left center; transition: background-position 0.5s ease, box-shadow 0.5s ease; }
.income-button div { position: absolute; left: 30px; width: 58%; text-align: left; }
.income-button img { position: absolute !important; right: 15px !important; width: auto !important; height: 90% !important; filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.5));}
#scenery-income-container-stars div img { height: 50% !important; width: auto !important;}

/*#stars-bar-fuel-lasttime {
    width: auto;
    background-color: rgba(30, 30, 30, 0.75);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 20px rgba(200, 200, 200, 0.25);
    margin: 0;
}*/


/* ✓ Кнопка закрытия информационного окна */
.scenery-container-button-close { position: absolute; bottom: 15px; left: 48%; transform: translateX(-50%); padding: 7px 30px; margin: 10px; border-radius: 10px; border: 0; box-shadow: inset 0 0 10px rgba(0, 0, 0, 1); color: #d1d1d1; background-color: rgba(0, 0, 0, 0.23); text-shadow: 0; text-align: center; font-family: 'FindSansPro-Regular'; font-size: large; transition: padding 0.5s ease, text-shadow 0.5s ease; }
.scenery-container-button-close:hover { padding: 10px 33px; text-shadow: 0 0 15px rgba(255, 255, 255, 0.9); cursor: pointer; transition: padding 0.5s ease, text-shadow 0.5s ease; }
.scenery-container-button-close:active { padding: 3px 20px; cursor: pointer; transition: padding 0.5s ease; }

/* ========================================= ✓ Закрепленный интерфейс ========================================= */
/* ✓ Верхний пользовательский интерфейс (Балланс жетонов и выведенных звезд) */
#top-ui { z-index: 1000; position: fixed; top: 47px; left: 50%; transform: translateX(-50%); max-width: 200px; height: 29px; padding: 0 15px; display: flex; align-items: center; justify-content: center; background-color: rgba(0, 0, 0, 0.23); border-radius: 100px; backdrop-filter: blur(10px); }
#top-ui p { color: #FFFFFF; font-family: 'FindSansPro-Light'; font-size: small; font-weight: bold; padding: 0 5px; }
#top-ui img { width: 16px; height: 16px; margin: 1px 0px; transition: width 0.5s ease, height 0.5s ease; }
#top-ui img:hover { width: 20px; height: 20px; margin: 1px 0px; transition: width 0.35s ease, height 0.35s ease; }

/* ✓ Нижний пользовательский интерфейс (Навигационное меню)*/
#bottom-ui { z-index: 1000; position: fixed; bottom: 45px; left: 50%; transform: translateX(-50%);  max-width: 90%; max-height: 50px; padding: 5px 90px; display: flex; align-items: center; justify-content: center; background-color: rgba(0, 0, 0, 0.23); border-radius: 100px; backdrop-filter: blur(10px); }
#bottom-ui img { width: 35px; height: 35px; margin: 1px 10%; filter: drop-shadow(0); opacity: 0.7; transition: width 0.5s ease, height 0.5s ease, opacity 0.5s ease, box-shadow 0.5s ease; }
#bottom-ui img:hover { width: 40px; height: 40px; filter: drop-shadow(0 0 2px rgba(255, 255, 255, 0.5)); cursor: pointer; transition: width 0.35s ease, height 0.35s ease, opacity 0.35s ease, box-shadow 0.35s ease; opacity: 0.9; }
#bottom-ui img:active { width: 37px; height: 37px; transition: width 0.25s ease, height 0.25s ease; }

/* ========================================= Уведомления ========================================= */
#notifications { 
    position: fixed; top: 86px; left: 50%; transform: translateX(-50%);
    width: 60%; max-width: 300px;
    padding: 0; margin: 0;
}
.notification-dom-container { position: static;
    margin: 0; padding: 0
}


/* ==================================== Боковые панели ==================================== */
.panel_bottom { 
    position: fixed; top: 30px; 
    overflow-y: scroll; 
    height: 77%; 
    margin: 0; 
    padding: 50px 50px 25px 50px; 
    border-radius: 30px; 
    background-color: rgba(0, 0, 0, 0.8); 
    opacity: 0.05;
    backdrop-filter: blur(10px); 
    transition: z-index 0.5s ease, top 0.5s ease, left 0.5s ease, right 0.5s ease, transform 0.5s ease, opacity 0.5s ease, width 1s ease; }

.panel_bottom_shown { 
    z-index: 999999; 
    left: 50% !important; 
    right: auto !important; 
    transform: translateX(-50%) !important; 
    opacity: 1 !important;
    transition: z-index 0.5s ease, top 0.5s ease, left 0.5s ease, right 0.5s ease, transform 0.5s ease, opacity 0.5s ease, width 1s ease; }

.page_moved {
    z-index: 3 !important;
    opacity: 0.1 !important;
    transition: opacity 0.5s ease, z-index 0.5s ease;
}

.profile-details {
    width: 100%;
    margin: 10px;
    padding: 10px;
    background-color: rgba(20, 20, 20, 0.25);
    border: 0;
    border-radius: 20px;
}
.profile-details summary {
    position: relative;
    box-shadow: 0 0 20px rgba(78, 78, 78, 0.5), inset 0 0 30px rgba(125, 125, 125, 0.5);
    border: 2px solid rgba(125, 125, 125, 0.5);
    border-radius: 60px;
    padding: 10px;
    margin: 0;
    margin-bottom: 15px;
    height: 100px;
    width: 100%;
    overflow: hidden;

    transition: box-shadow 0.5s ease;
}
.profile-details summary:hover {
    box-shadow: 0 0 20px rgba(125, 125, 125, 1), inset 0 0 30px rgba(255, 255, 255, 0.75);
    transition: box-shadow 0.5s ease;
}

.profile-details summary div {
    position: absolute;
    right: 50px; top: 50%;
    transform: translateY(-50%);
}
.profile-details summary h2 {
    font-size: x-large;
    text-align: right;
    line-height: 10px;
    margin: 0;
    padding: 0;
}
.profile-details summary p {
    opacity: 0.9;
    width: 25vw;
    text-align: right;
}


.profile-details summary img {
    position: absolute;
    left: 70px; top: 50%;
    transform: translateY(-50%);
    width: 100px; height: 100px;
}





#daily-desc {
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
#daily-desc p {font-size: large;}
#daily-nika {
    min-width: 200px;
    width: 40%;
    height: auto;
    margin-top: 15px;
    margin-left: 20px;
}
#button-daily {
    width: 100% !important;
}

/* Галерея карточек */
#daily-gallery {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(110px, 1fr));
    gap: 16px;
    box-sizing: border-box;
}
.daily-gallery-element {
    margin: 5px;
    padding: 0px 10px 10px 10px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 0;

    background-image: linear-gradient(to bottom left, #3f1f1f 0%, #472323 50%, #500d0d 100%);
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.3);
}
.daily-gallery-element img {
    min-width: 55px;
    max-width: 100px;
    width: 80%;
    height: auto;
    margin-bottom: 15px;
}
.daily-gallery-element button {
    width: 100%;
    padding: 5px;
    border: 0;
    background-size: 150% auto;
    background-position: right center;
    background-image: linear-gradient(to left, #5f1212 0%, #830d0d 60%, #640f0c 100%);
    border-radius: 100px;
    box-shadow: 0 0 15px #000;

    font-family: 'FindSansPro-Light';
    font-size: small;
    text-align: center;
    text-shadow: 0 0 10px #000;
    color: #E5E5E5;

    transition: background-position 0.5s ease, padding 0.5s ease;
}
.daily-gallery-element button:hover {
    cursor: pointer;
    background-position: left center;
    padding: 7px;
    transition: background-position 0.5s ease, padding 0.5s ease;
}
.daily-gallery-element button:active {
    cursor: pointer;
    background-position: right center;
    padding: 3px;
    transition: background-position 0.5s ease, padding 0.5s ease;
}

.daily-gallery-element.activated {
    background-image: linear-gradient(to bottom left, #0b5e12 0%, #24c41f 60%, #095a14 100%) !important;
}
.daily-gallery-element button.activated {
    background-image: linear-gradient(to left, #0b5e12 0%, #24c41f 60%, #095a14 100%) !important;
}

.daily-gallery-element.disabled {
    background-image: linear-gradient(to bottom left, #754f08 0%, #c49d1f 60%, #64340c 100%) !important;
}
.daily-gallery-element button.disabled {
    background-image: linear-gradient(to left, #754f08 0%, #c49d1f 60%, #64340c 100%) !important;
}
